<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
        

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />

        
        
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />

        <title>mkaestatic - readme</title>

        
        <link rel="stylesheet" href="static/style.css" />

        
    </head>

    <body>
      <div class="layout"><div>
        <header>
  
          <span class="logo"><a href=../../../../..>mkaestatic</a></span>
          
          <input id="nav" type="checkbox">
          <label for="nav"></label>
          
          <nav>
            <ul>
              
                
                  <li><a href="contact.html">contact</a></li>
                
              
                
                  <li><a href="example.html">example</a></li>
                
              
                
              
                
                  <li><a href="readme.html">readme</a></li>
                
              
            </ul>
          </nav> 
          
        </header>

        <div class="content">
        
          <h1 class="content-subhead">readme</h1>
          <h3>What is it?</h3>
<p><em>mkaestatic</em> is a simple static website generator. It combines the standard tools <a href="//www.gnu.org/software/make/">make</a>, <a href="//www.python.org/">python</a>, <a href="//daringfireball.net/projects/markdown/">markdown</a> and <a href="https://palletsprojects.com/p/jinja/">jinja2</a>.</p>
<p>As most static website generators <em>mkaestatic</em> works by taking a bunch of markdown files e.g. <em>readme.md</em>, <em>about.md</em> and <em>contact.md</em> and converts them into html files <em>readme.html</em>, <em>about.html</em> and <em>contact.html</em>. It does so by using one or more jinja2 html files that encode the layout of the generated files. The markdown to html conversation can be controlled using a couple of configuration files and options that are integrated in the markdown files.</p>
<h3>Cool Features</h3>
<ul>
<li>Easily extensible make based static website generator</li>
<li>Markdown content / Jinja2 templates</li>
<li>Purely relative URLs<ul>
<li>Websites can be copied in bulk to arbitrary subdirectories of web servers (for instance ~user/ websites) without any modification in code.</li>
<li>Websites can be surfed locally or remotely without a HTTP server. (File server is enough)</li>
<li>Websites can just be a git repository hosted for instance via github pages</li>
</ul>
</li>
<li>Arbitrary deep subdirectories</li>
<li>Fast build times even for large projects as changes and dependencies are managed by make</li>
<li>Keeps track of requisites using make</li>
<li>Can be easily integrated with other content generating tools via make</li>
<li>About 300 lines of python/make code</li>
</ul>
<h3>Under The Hood</h3>
<p>The non-recursive make approach is based Emile van Bergen's article <a href="//evbergen.home.xs4all.nl/nonrecursive-make.html">Implementing non-recursive make</a> which is itself based on the paper <a href="//aegis.sourceforge.net/auug97.pdf">Recursive Make Considered Harmful</a>. <em>mkaestatic</em> strictly uses relative URLs inside the generated static page. Therefore, the page can be accessed using the browser directly on the file system, i.e. using file:// instead of http://, without the need for a web server.</p>
<h3>Requirements</h3>
<p>To run <em>mkaestatic</em> a</p>
<ul>
<li>python (3.x) installation is required. <em>mkaestatic</em> additionally uses</li>
<li><a href="//github.com/lepture/mistune">mistune</a> as its markdown implementation,</li>
<li><a href="//jinja.pocoo.org/docs/dev/">jinja2</a> as a template engine and</li>
<li><a href="//pyyaml.org/">PyYAML</a> to read and write config files.</li>
</ul>
<p>The extra python packages can be installed for instance with <em>pip</em></p>
<pre><code>pip install mistune jinja2 pyyaml
</code></pre>
<h3>Quickstart</h3>
<h4>Preparation</h4>
<p>Either clone, fork or template the <a href="https://github.com/michibo/mkaestatic">repository</a> on github or copy the</p>
<ul>
<li>code files <em>Makefile</em> and <em>mkaestatic.py</em></li>
<li>and the two configuration files <em>Pages.mk</em> and <em>Site.mk</em></li>
<li>optionally create subdirectories. Each subdirectory must have another <em>Pages.mk</em> config file (see the example in the <em>blog</em> folder)</li>
</ul>
<h4>Setup your pages</h4>
<p>In <em>Pages.mk</em> the <em>pages</em> and <em>subdirectories</em> of the root directory can be configured. The file is quite long, but most of it is just recursive make management.</p>
<p>The filenames of the <em>page</em>-files can be added to one line of the <em>Pages.mk</em> file. The make variable <em>PAGES_SRC_$(d)</em> must be set to the list of <em>pages</em>:</p>
<pre><code>PAGES_SRC_$(d):=$(d)index.md $(d)readme.md
</code></pre>
<p>A page is a markdown file with a .md suffix, which will eventually be compiled to a HTML-file. A prefix <strong>$(d)</strong> needs to be added filename. This adds the name of the current directory before the path of <em>page</em> in accordance to non-recursive make practice. The line needs to be inserted into <em>Pages.mk</em> in the following place:</p>
<pre><code>... non recursive make stuff ...

... subdirectory stuff ...    

#########################################
# LOCAL PAGES
#########################################

PAGES_SRC_$(d):=$(d)index.md $(d)readme.md

# Include the $(d) for reference to the local directory.
# This is the famous non-recursive-make trick!

... more non recursive make stuff ...

</code></pre>
<p>Two files are added as target for your project: <em>index.html</em> and <em>readme.html</em>, which will be generated from the markdown files <em>index.md</em> and <em>readme.md</em> respectively.</p>
<h4>Setup your subdirectories (optional feature)</h4>
<p>To add subdirectories to the mkaestatic tree you need to modify the following section of <em>Pages.mk</em>:</p>
<pre><code>#########################################
# SUBDIRECTORIES
#########################################

# Load config and pages from blog/
dir	:= $(d)blog/

include		$(dir)Pages.mk
MKCONFIGS+=$(dir)Pages.mk

# Load more subdirectories ...
#dir	:= $(d)blog2/

#include		$(dir)Pages.mk
#MKCONFIGS+=$(dir)Pages.mk

#...

</code></pre>
<p>The subdirectories can be added in arbitrary order. Each subdirectory needs to contain its own <em>Pages.mk</em> file of the same form as above. You can add a subdirectory by adding the following lines:</p>
<pre><code>dir	:= $(d)blog/

include		$(dir)Pages.mk
MKCONFIGS+=$(dir)Pages.mk

</code></pre>
<p>where the folder <em>blog/</em> is replaced by the respective subdirectory. Note, that you need to include the <strong>$(d)</strong> again before the directory name.</p>
<p>In the subdirectory you can add additional <em>pages</em> or <em>subdirectories</em> recursively by modifying the <em>Pages.mk</em> files inside them appropriately.</p>
<h4>Configuration of pages</h4>
<h5>Local attributes (per page)</h5>
<p>Every markdown file can have a three dash separated header, where attributes, which will be passed to the jinja template, can be defined. For instance,</p>
<p>index.md:</p>
<pre><code>---
title : My frontpage
date  : 01.01.1979
template : _templates/frontpage.html
---

*content here* 

</code></pre>
<p>The jinja template can now access the attributes using the variables <strong>page.title</strong>, <strong>page.date</strong> and <strong>page.template</strong>.</p>
<p>The <strong>template</strong> attribute has a special role as it sets the <em>jinja template</em> which will be used to render the page. A template must be given either in the source file of the page or in the <em>Site.yml</em> file where a default template for all pages can be specified (see &quot;Special attributes&quot;).</p>
<h5>Global attributes (per site, i.e. one per mkaestatic instance)</h5>
<p>Global attributes can be set in the <em>Site.yml</em> file. For example,</p>
<p>Site.yml:</p>
<pre><code>name : &quot;mkaestatic&quot;
tagline : &quot;is awesome&quot;

template : _templates/default.html

</code></pre>
<p>will set the <em>site.name</em> and <em>site.tagline</em> attributes. The attributes can be accessed in all templates via the variables <strong>site.name</strong>, <strong>site.tagline</strong>, <strong>site.template</strong>.</p>
<p>The global <strong>template</strong> attribute in <em>Site.yml</em> again has a special role as it can be used to specify a <em>default template</em> for all pages.</p>
<h4>Accessing page configurations in jinja templates</h4>
<p>The most important variable which is passed from mkaestatic to the jinja template is the <strong>content</strong> variable. It contains the html-code which was rendered from the markdown input. Normally, you would want to include something like,</p>
<pre><code>&lt;div&gt;{{ content }}&lt;/div&gt;

</code></pre>
<p>in the middle of your template for the markdown content to actually be rendered.</p>
<h5>Local and strictly global attributes</h5>
<p>The set attributes can be accessed in the jinja template with the <strong>page</strong>, <strong>site</strong> or <strong>root</strong> variables. For instance, <strong>page.title</strong> or <strong>page.date</strong> will refer to the values given in the header of <em>index.md</em> when <em>index.html</em> is compiled.</p>
<p>Your jinja template might contain the following line for the <strong>title</strong> tag side the html header:</p>
<pre><code>&lt;title&gt;{{ site.name|e }} - {{ page.title|e }}&lt;/title&gt;

</code></pre>
<p>The jinja filter |e escapes special characters in the variables to html.</p>
<p>The value of <strong>site.name</strong>, the one defined in <em>Site.yml</em>, is similar for all pages in the <em>mkaestatic</em> instance, whereas <strong>page.title</strong> will differ from page to page depending on the definition of <strong>title</strong> in the page header.</p>
<h5>Accessing attributes via the directory tree</h5>
<p>With the <strong>site</strong> and <strong>page</strong> variables, global attributes or the attributes of the <em>current page</em>, which is about to be rendered, may be accessed. But in many cases the attributes of other pages are also needed. If for instance a menu shall be rendered on the website, the jinja template needs to know certain attributes, as the title or date, of a bunch of source files.</p>
<p><em>mkaestatic</em> provides a simple data structure for these situations:</p>
<p>In the jinja template the variable <strong>root</strong> can be accessed. This variable mirrors the structure of the top-level directory (the one in which <em>make</em> is invoked) in the <em>mkaestatic</em> directory tree. The <strong>root</strong> variable is iterable. If we loop over <strong>root</strong>, we iterate over the configurations of the pages in the top-level directory. For instance,</p>
<pre><code>{% for p in root if not p.nomenu %}
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;{{ p.url | localurl }}&quot;&gt;{{ p.title|e }}&lt;/a&gt;
    &lt;/li&gt;
{% endfor %}

</code></pre>
<p>will render a menu item for every page in the top-level directory (i.e. .md file), which was added in the top-level <em>Pages.mk</em>. The page will only be included if the local config of the page does not contain a <strong>nomenu</strong> attribute, because of the</p>
<pre><code>if not p.nomenu 

</code></pre>
<p>filter in the for-loop.</p>
<p>Every page has the additional attribute <strong>url</strong>, which contains the relative url of the page from the top-level directory. As in the line</p>
<pre><code>&lt;a href=&quot;{{ p.url | localurl }}&quot;&gt;{{ p.title|e }}&lt;/a&gt;

</code></pre>
<p>of the example above, the | localurl filter must be added to obtain a relative url which works for pages also in subdirectories (see &quot;Special attributes&quot;).</p>
<p>The pages of <em>subdirectories</em> can be traversed by accessing the respective attributes of <strong>root</strong>. For instance,</p>
<pre><code>{% for p in root.blog %}

...

{% endfor %}

</code></pre>
<p>will loop over all pages inside the <em>blog/</em> subdirectory. The subdirectory and the pages must have been added to respective <em>Pages.mk</em> files.</p>
<h4>Special attributes</h4>
<p>Every page has three special attributes which are set internally by <em>mkaestatic</em>: <strong>name</strong>, <strong>url</strong> and <strong>title</strong>. The attribute <strong>name</strong> is the basename of the filename of the md-file for the page. <strong>url</strong> is the URL which can be used to reference the page html-file. <strong>title</strong> is the same as <strong>name</strong> by default, but can be overwritten in the local configuration.</p>
<p>Optionally, the attribute <strong>mirror</strong> can be set in the local configuration of a page. <strong>mirror</strong> must be set to the filename of another page, whose content will be merely copied to the html of the page. This can be useful to deal with compatibility in respect to old url schemes.</p>
<p>Let's say for example that <em>index.html</em> shall have the same content as <em>readme.html</em>:</p>
<p>index.md:</p>
<pre><code>---
mirror: readme.html
nomenu: true
---

</code></pre>
<h4>Referencing internal URLs</h4>
<p>Local URLs referenced in a markdown file will always be correctly translated and included into the make dependency tree if they start with a slash. The leading slash stands for the top-level (root) directory of the mkaestatic instance.</p>
<p>To reference other pages properly the jinja filter 'localurl', which is implemented by mkaestatic, must be used to translate the URL to the proper relative URL. For instance,</p>
<pre><code>&lt;a href=&quot;{{ p.url | localurl }}&quot;&gt;{{ p.title|e }}&lt;/a&gt;

</code></pre>
<p>will translate the URL of the page p accordingly.</p>
<p>The localurl filter must also be used when accessing static local files. For instance,</p>
<pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ '/static/css/style.css' | localurl }}&quot;&gt;

</code></pre>
<p>will translate the local URL '/static/css/style.css' to the respective relative URL which is valid from the currently rendered page. Local URLs used in this way must always start with a slash to indicate the reference to the root directory of the mkaestatic instance.</p>
<p>Additionally, the filter is used to add the file '/static/css/style.css' to the make dependency tree. This is very convenient as make will give a error message if such an URL cannot be resolved and other tools such as <a href="//sass-lang.com/">sass</a> can be used to compile the .css file from some source by including a respective rule to the <em>Makefile</em>.</p>
<p>If you want actually want to specify a relative URL leave the leading slash. The URL will be resolved with respect to the directory the current <em>page</em> (not the template!).</p>
<h4>Start everything</h4>
<p>To build everything call</p>
<pre><code>make

</code></pre>
<p>in the top-level directory and access the pages using your web browser.</p>
<p>To copy the files to another directory call</p>
<pre><code>make build

</code></pre>
<p>all the necessary files will be copied to the <em>built</em> directory inside the root directory. The directory can be copied anywhere without breaking links.</p>
<p>If you really want to you can also start the python toy web server with</p>
<pre><code>make serve

</code></pre>
<p>the page can be accessed under the URL <a href="//localhost:8000">localhost:8000</a>.</p>
<p>To pack the website into a tarball call</p>
<pre><code>make tar

</code></pre>
<p>this will create a file <em>built.tar.gz</em> with all the contents of the website. With some archive managers you can even access the website completely inside the tarball without properly unpacking.</p>
<h4>Uploading to ssh-server</h4>
<p>You can use <em>mkaestatic</em> to upload your static website to a server via ssh. The necessary ssh-info must be set in the configuration file <em>Site.mk</em>:</p>
<p>Site.mk:</p>
<pre><code>SSH_SERVER := me@myserver.com
SSH_FOLDER := public_html

</code></pre>
<p>The command</p>
<pre><code>make upload

</code></pre>
<p>will upload all the generated html files and all requisites of the page, which are in the dependency tree of make, to the server. Links in markdown code and links which are filtered with the <em>localurl</em> jinja will be automatically included in the upload.</p>
<p>If some static file is missing maybe you missed a | localurl filter in some template or a leading slash for a 'absolute' path.</p>
<h4>Example</h4>
<p>If you cloned this directory, ran <em>make</em> and everything worked out you can 'surf' the example project. Just open any html file with a browser.</p>
<p><a href="blog/post1.html">Blog post</a></p>

        
        </div>

        <div>
          <h1>Footer</h1>
          We can also have a menu of blog entries which is generated in the template:
          <ul>
            
            
            <li><a href="blog/post1.html">My first blog post</a></li>
            
            <li><a href="blog/post2.html">My second blog post</a></li>
            
          </ul>
        </div>
    </div></div>
    </body>
</html>