<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% block head %}
        {# Usual header stuff #}

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />

        {# Meta data is taken from Site.yml: #}
        {# The content of Site.yml can be accessed via site.x #}
        <meta name="description" content="{{ site.description|e }}" />
        <meta name="author" content="{{ site.author|e }}" />
        <meta name="keywords" content="{{ site.keywords|e }}" />

        <title>{% block title %}{{ site.name }} - {{ page.title|e }}{% endblock %}</title>

        {# The relative url '/static/style.css' is properly encoded using the local url filter #}
        <link rel="stylesheet" href="{{ '/static/style.css' | localurl }}" />

        {% endblock head %}
    </head>

    <body>
      <div class="layout"><div>
        <header>
  
          <span class="logo"><a href={{ '/' | localurl }}>{{ site.name|e }}</a></span>
          
          <input id="nav" type="checkbox">
          <label for="nav"></label>
          
          <nav>
            <ul>
              {% for p in root %}
                {% if not p.nomenu %}
                  <li><a href="{{ p.url  | localurl }}">{{ p.title|e }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav> 
          
        </header>

        <div class="content">
        {% block content %}
          <h1 class="content-subhead">{{ page.title|e }}</h1>
          {{ content }}
        {% endblock %}
        </div>

        <div>
          <h1>Footer</h1>
          We can also have a menu of blog entries which is generated in the template:
          <ul>
            {# Directories can also be accessed in the templates. Via root.x all the pages in the root directory can be accessed. Looping over the root.blog directory gives all pages in the ./blog folder #}
            {% for p in root.blog %}
            <li><a href="{{ p.url  | localurl }}">{{ p.title|e }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </div></div>
    </body>
</html>
